@{
    Layout = "_LayoutJp";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h1>サインイン</h1>
<form>
    <div class="FormDiv">
        <div class="mb-3">
            <label for="InputUserId" class="form-label">アカウント</label>
            <input type="text" class="form-control" id="InputUserId">
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">パスワード</label>
            <input type="password" class="form-control" id="InputPassword">
        </div>
        <div>
            <a href="" class="forgetPw">パスワードを忘れましたか？</a>
        </div>
        @* 修改type="button" 修改type="button" 修改type="button" 修改type="button" 修改type="button" 修改type="button"  *@
        <button type="button" class="LoginBtn">ショッピングに行こう！</button>
        @* -----------------------------------------------------------------------------------------------------------  *@

    </div>
</form>

<hr/>

<h1>まだ会員ではありませんか？</h1>

<div class="marginDiv">
    <button type="submit" class="RegisterBtn">メンバー登録</button>
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


@* 新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增新增 *@
<script src="~/js/LoginJp.js"></script>
@* ------------------------------------------------------------------------------------------------ *@
