/* body */
* {
    margin: 0;
    padding: 0;
}

/* header */
/* nav (left)*/
nav {
    width: 100%;
    height: 60px;
    background-color: #2e724a;
    border: 1px solid #2e724a;
}

.menu-button {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #2e724a;
}

    .menu-button:hover {
        cursor: pointer;
    }

    .menu-button span {
        display: block;
        height: 3px;
        width: 100%;
        background: white;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
    }

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 20px;
    box-sizing: border-box;
    height: 129%;
    width: 12vw;
    background-color: #2e724a;
    z-index: 2;
}



input[type="checkbox"]:checked ~ .menu {
    display: block;
    animation: leftIn 0.7s linear 0s;
}

@keyframes leftIn {
    from {
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

input[type="checkbox"] {
    display: none;
}

.menu li {
    list-style: none;
    display: block;
    margin: 5vh 0;
}

    .menu li a {
        text-decoration: none;
        color: white;
        justify-content: center;
        display: flex;
        font-size: 18px;
    }

        .menu li a:hover {
            font-weight: bold;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 8px;
            /* text-decoration: underline; */
        }

/* LOGO */
#logo img {
    max-width: 180px;
    background-color: #2e724a;
}

#logo {
    margin-left: 60px;
    margin-top: 14px;
    background-color: #2e724a;
}

/* nav (right) */
#nav-right {
    position: absolute;
    top: 15px;
    right: 0px;
    display: flex;
    text-align:center;
}

.loginStatus {
    color: white;
    max-height: 20px;
    margin: 5px 2px 0 0;
}

/* 3 icons */
#customer_icon,
label img {
    max-width: 30px;
    margin: 0 5px;
}

    #customer_icon,
    label img:hover {
        cursor: pointer;
    }

/* shopping cart */
.shoppingList {
    display: none;
    top: 46px;
    right: 0;
    /*    height: 85vh;*/
    width: 28vw;
    border: 1px solid #2e724a;
    border-right: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    text-align: center;
    flex-direction: column;
    padding: 3px;
}

#wantToBuy {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    overflow-y: auto;
}

    #wantToBuy::-webkit-scrollbar {
        display: none;
    }

    /* Track */
    #wantToBuy::-webkit-scrollbar-track {
        background: white;
    }

    /* Handle */
    #wantToBuy::-webkit-scrollbar-thumb {
        background: #2e724a;
    }

        /* Handle on hover */
        #wantToBuy::-webkit-scrollbar-thumb:hover {
            background: #006000;
        }

#shop .row {
    margin-left: 0;
    margin-right: 0;
}

.nameQty, .closeTotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopname {
    font-size: 1.3rem;
}

.shopqty {
    display: inline-flex;
    justify-content: space-between;
}

    .shopqty button {
        font-size: 1.5rem;
        border: .1rem solid grey;
        background: inherit;
        height: 1.8rem;
        width: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .25rem;
    }

    .shopqty span {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.shopclose {
    display: inline-flex;
    justify-content: flex-end;
}

    .shopclose button {
        font-size: 1rem;
        border: .1rem solid grey;
        background: inherit;
        height: 1.8rem;
        width: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .25rem;
    }

.shoptotal {
    font-size: 2rem;
}

#checkoutArea {
    margin-top: 4px;
}

.checkoutBtn {
    width: 100px;
    /* position: absolute; */
    /* bottom: 0; */
    font-size: 20px;
    background-color: white;
    border: #2e724a 1px solid;
    border-radius: 5px;
    text-decoration: none;
}

    .checkoutBtn:hover {
        cursor: pointer;
        background-color: #2e724a;
        color: white;
        font-weight: bold;
    }

#chart-toggle[type="checkbox"]:checked ~ .shoppingList {
    display: block;
    animation: rightIn 0.7s linear 0s;
}

@keyframes rightIn {
    from {
        transform: translate3d(20%, 0, 0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

/* change language */
.language {
    display: none;
    top: 30px;
    right: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: #2e724a;
    width: 80px;
    height: 100px;
    border-radius: 0 0 8px 8px;
}

    #language-toggle[type="checkbox"]:hover ~ .language,
    .language:hover {
        display: block;
    }

    .language li {
        list-style: none;
        display: block;
        text-align: center;
        margin-top: 17px;
    }

        .language li a {
            text-decoration: none;
            font-size: large;
            color: white;
        }

            .language li a:hover {
                border-bottom: 1px solid;
                padding-bottom: 5px;
            }

footer {
    height: 25px;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
}

    footer p {
        color: gray;
        text-align: center;
        justify-content: center;
    }

/* Product */
.recommend {
    height: 350px;
    background-color: #2e724a;
    /* overflow-x: hidden; */
}

.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide img {
    display: block;
    height: 280px;
    object-fit: cover;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #2e724a;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RWD */
@media screen and (max-width: 768px) {
    *::-webkit-scrollbar {
        display: none;
    }

    /* nav */
    #customer_icon,
    #chart_icon {
        display: none;
    }

    .menu {
        height: 100%;
        width: 100%;
    }

    #logo a {
        background-color: #2e724a;
    }

    body:has(input[type="checkbox"]:checked~.menu) {
        overflow: hidden;
    }
}
